# MongoDB Connection
MONGODB_URI="mongodb+srv://Vercel-Admin-tertil:kYSEONjtnxQQa8mk@tertil.smuebbl.mongodb.net/?retryWrites=true&w=majority"

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-super-secret-key-here

# Gmail SMTP Configuration
GMAIL_USER=tertilkuran@gmail.com
GMAIL_APP_PASSWORD="bkfl inue fwrx uidc"

# Admin Emails (comma separated)
ADMIN_EMAILS=ugurerdem@yaani.com,iwasdev@outlook.com,iwasadev@gmail.com
